.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.productsTable {
  margin: auto;
  margin-top: 30px;
  width: 70vw;
  height: 300px;
  overflow-y: scroll; 
}

.productsTable th, .productsTable td {
  width: 40vw;
}

.productsTable th:nth-child(2), .productsTable td:nth-child(2) {
  width:150vw;
}

.productsTable th:nth-child(5), .productsTable td:nth-child(5),.productsTable th:nth-child(6), .productsTable td:nth-child(6) {
  width:20vw;
}

