@font-face{
	font-family: "RawengulkBold";
	src: url("../../../font/RawengulkBold.otf") format('truetype');
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.loading p {
  font-weight: bold;
  font-size: 25px;
  font-family: "RawengulkBold";
}