.salesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.salesTable {
  margin: auto;
  margin-top: 30px;
  width: 50vw;
  height: 350px;
  overflow-y: scroll; 
}

.salesTable th, .productsTable td {
  width: 40vw;
}